.pastel-color-1 { background-color: #FFB3BA; border: 1px solid #FF6F61;}
.pastel-color-2 { background-color: #FFDFBA; border: 1px solid #FFB347;}
.pastel-color-3 { background-color: #FFFFBA; border: 1px solid #c8c859;}
.pastel-color-4 { background-color: #BAFFC9; border: 1px solid #79c479;}
.pastel-color-5 { background-color: #BAE1FF; border: 1px solid #87CEEB;}
.pastel-color-6 { background-color: #FFC3A0; border: 1px solid #FF8C69;}
.pastel-color-7 { background-color: #FFABAB; border: 1px solid #FF6F61;}
.pastel-color-8 { background-color: #FFDAAB; border: 1px solid #FFB347;}
.pastel-color-9 { background-color: #DDFFAB; border: 1px solid #91d32e;}
.pastel-color-10 { background-color: #ABE4FF; border: 1px solid #87CEEB;}

.default-color {
  background-color: #cccccc; /* Light gray color */
  border: 1px solid #999999; /* Darker gray border */
}

.instructor {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin: 2px;
}
