.pastel-color-1 { background-color: #FFB3BA; border: 1px solid #FF6F61; color: black;}
.pastel-color-2 { background-color: #FFDFBA; border: 1px solid #FFB347; color: black;}
.pastel-color-3 { background-color: #FFFFBA; border: 1px solid #c8c859; color: black;}
.pastel-color-4 { background-color: #BAFFC9; border: 1px solid #79c479; color: black;}
.pastel-color-5 { background-color: #BAE1FF; border: 1px solid #87CEEB; color: black;}
.pastel-color-6 { background-color: #FFC3A0; border: 1px solid #FF8C69; color: black;}
.pastel-color-7 { background-color: #FFABAB; border: 1px solid #FF6F61; color: black;}
.pastel-color-8 { background-color: #FFDAAB; border: 1px solid #FFB347; color: black;}
.pastel-color-9 { background-color: #DDFFAB; border: 1px solid #91d32e; color: black;}
.pastel-color-10 { background-color: #ABE4FF; border: 1px solid #87CEEB; color: black;}
.pastel-color-11 { background-color: #D4A5A5; border: 1px solid #CD5C5C; color: black;}
.pastel-color-12 { background-color: #D4C4A5; border: 1px solid #D2B48C; color: black;}
.pastel-color-13 { background-color: #D4D4A5; border: 1px solid #BDB76B; color: black;}
.pastel-color-14 { background-color: #A5D4A5; border: 1px solid #8FBC8F; color: black;}
.pastel-color-15 { background-color: #A5D4D4; border: 1px solid #20B2AA; color: black;}
.pastel-color-16 { background-color: #A5A5D4; border: 1px solid #6A5ACD; color: black;}
.pastel-color-17 { background-color: #C4A5D4; border: 1px solid #9370DB; color: black;}
.pastel-color-18 { background-color: #D4A5C4; border: 1px solid #DB7093; color: black;}
.pastel-color-19 { background-color: #E2A5A5; border: 1px solid #CD5C5C; color: black;}
.pastel-color-20 { background-color: #E2C4A5; border: 1px solid #D2B48C; color: black;}
.pastel-color-21 { background-color: #E2E2A5; border: 1px solid #BDB76B; color: black;}
.pastel-color-22 { background-color: #A5E2A5; border: 1px solid #8FBC8F; color: black;}
.pastel-color-23 { background-color: #A5E2E2; border: 1px solid #20B2AA; color: black;}
.pastel-color-24 { background-color: #A5A5E2; border: 1px solid #6A5ACD; color: black;}
.pastel-color-25 { background-color: #C4A5E2; border: 1px solid #9370DB; color: black;}
.pastel-color-26 { background-color: #E2A5C4; border: 1px solid #DB7093; color: black;}
.pastel-color-27 { background-color: #F3A5A5; border: 1px solid #CD5C5C; color: black;}
.pastel-color-28 { background-color: #F3C4A5; border: 1px solid #D2B48C; color: black;}
.pastel-color-29 { background-color: #F3F3A5; border: 1px solid #636137; color: black;}
.pastel-color-30 { background-color: #A5F3A5; border: 1px solid #8FBC8F; color: black;}
.pastel-color-31 { background-color: #A5F3F3; border: 1px solid #20B2AA; color: black;}
.pastel-color-32 { background-color: #A5A5F3; border: 1px solid #6A5ACD; color: black;}
.pastel-color-33 { background-color: #C4A5F3; border: 1px solid #9370DB; color: black;}
.pastel-color-34 { background-color: #F3A5C4; border: 1px solid #DB7093; color: black;}
.pastel-color-35 { background-color: #FFB3D9; border: 1px solid #FF69B4; color: black;}
.pastel-color-36 { background-color: #FFDFD9; border: 1px solid #FF7F50; color: black;}
.pastel-color-37 { background-color: #FFFFD9; border: 1px solid #4f4f2f; color: black;}
.pastel-color-38 { background-color: #D9FFD9; border: 1px solid #98FB98; color: black;}
.pastel-color-39 { background-color: #D9FFFF; border: 1px solid #AFEEEE; color: black;}
.pastel-color-40 { background-color: #D9D9FF; border: 1px solid #B0C4DE; color: black;}
.pastel-color-41 { background-color: #E1D9FF; border: 1px solid #9370DB; color: black;}
.pastel-color-42 { background-color: #FFD9E1; border: 1px solid #FF69B4; color: black;}
.pastel-color-43 { background-color: #FFD9D9; border: 1px solid #FF7F50; color: black;}
.pastel-color-44 { background-color: #FFE1D9; border: 1px solid #FFA07A; color: black;}
.pastel-color-45 { background-color: #FFFFE1; border: 1px solid #FFFF99; color: black;}
.pastel-color-46 { background-color: #E1FFD9; border: 1px solid #98FB98; color: black;}
.pastel-color-47 { background-color: #D9FFE1; border: 1px solid #AFEEEE; color: black;}
.pastel-color-48 { background-color: #D9E1FF; border: 1px solid #B0C4DE; color: black;}
.pastel-color-49 { background-color: #E1D9E1; border: 1px solid #D8BFD8; color: black;}
.pastel-color-50 { background-color: #FFD9FF; border: 1px solid #FF69B4; color: black;}

.default-color {
  background-color: #cccccc; /* Light gray color */
  border: 1px solid #999999; /* Darker gray border */
}
/* .gantt_task_line */
